<footer class="shadow-sm ">
    <div class="w-full mx-auto max-w-screen-xl p-4 space-y-4">
        <div class="text-slate-500 text-sm flex item-center space-x-2">
            <span>@ 2024</span>
            <a href="/" class="hover:underline">
                <div class="logo font-extrabold">
                    <p>Support<span class="text-blue-500">Net</span></p>
                </div>
            </a>
        </div>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://github.com/lebelokamogelo/support_forum" target="_blank" rel="noopener noreferrer"
                   class="hover:underline me-4 md:me-6">Github</a>
            </li>
            <li>
                <a href="/contact" class="hover:underline">Contact us</a>
            </li>
        </ul>
    </div>
</footer>
