<div class="shadow-sm py-3">
    <div class="md:max-w-7xl md:mx-auto mx-2 flex justify-between items-center">
        <div class="logo font-extrabold text-lg">
            <p>Support<span class="text-blue-500">Net</span></p>
        </div>

        <div class="seach-container hidden md:flex">
            {% include 'forum/search_form.html' %}
        </div>

        <div class="actions flex items-center space-x-2">

            <div class="search md:hidden hover:bg-slate-100 rounded-full p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                </svg>

            </div>

            <div class="username cursor-pointer">
                {% if request.user.is_authenticated %}
                <p>{{ request.user|lower }}</p>
                {% else %}
                <a href={% url 'login' %}>login</a>
                {% endif %}
            </div>

        </div>

    </div>
</div>