<form class="" method="get">
    <div class="relative text-gray-600">
        <input type="search" name="q" placeholder="Search for Topics"
               class="bg-slate-100 w-40 md:w-[320px] h-10 px-5 pr-10 rounded-md text-md focus:outline-none">
        <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>
        </button>
    </div>
</form>