<div class="menu flex space-x-5 md:space-x-0 md:block md:space-y-4">
    <div class="home">
        <a href="#" class="hover:text-blue-600 text-slate-700">Home</a>
    </div>

    <div class="Explore">
        <a href="#" class="hover:text-blue-600 text-slate-700">Explore</a>
    </div>

    <div class="topics">
        <a href="#" class="hover:text-blue-600 text-slate-700">My Topics</a>
    </div>

    <div class="answer">
        <a href="#" class="hover:text-blue-600 text-slate-700">My Answers</a>
    </div>

</div>